#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/nrf-pinctrl.h>
#include <dt-bindings/zmk/matrix_transform.h>
#include <dt-bindings/zmk/input_transform.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <input/processors.dtsi>
/ {
    chosen { zmk,kscan = &kscan0; };
    kscan0: kscan {
        compatible = "zmk,kscan-gpio-charlieplex";
        interrupt-gpios = <&gpio0 28 GPIO_ACTIVE_LOW>;
        /* S0..S6: EasyEDA GeaconSolstice3, U103 pins 15..22. */
        gpios = <&gpio0 15 GPIO_ACTIVE_LOW>, <&gpio0 19 GPIO_ACTIVE_LOW>,
                <&gpio1 1 GPIO_ACTIVE_LOW>, <&gpio0 9 GPIO_ACTIVE_LOW>,
                <&gpio0 10 GPIO_ACTIVE_LOW>, <&gpio1 3 GPIO_ACTIVE_LOW>,
                <&gpio1 5 GPIO_ACTIVE_LOW>;
    };
    split_inputs {
        #address-cells = <1>;
        #size-cells = <0>;
        right_tb_split: trackball@0 {
            compatible = "zmk,input-split";
            reg = <0>;
        };
    };
};
&uicr { nfct-pins-as-gpios; };
&uart0 { status = "disabled"; };
&xiao_serial { status = "disabled"; };
&xiao_spi { status = "disabled"; };
&xiao_i2c { status = "disabled"; };
&spi0 { status = "disabled"; };
&spi1 { status = "disabled"; };
/* Leave LED power off until the optional LED configuration is selected. */
&gpio1 {
    led_power_off {
        gpio-hog;
        gpios = <13 GPIO_ACTIVE_HIGH>;
        output-high;
    };
};
